page-home {

.my-width{
		width:750px;
	}
.formButtonfront {
  border:1px solid white;
  border-radius:7%;
  font-size:0.875;
  word-wrap: break-word;
  width: 100px; // only for IE8
  max-width: 100%;
	 }
loginUser: void {
	
	}
loginFacebook: void {
	
	}
newUser: void {
	
	}

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: #fff;
    contain: strict;
}
}
